{
    "areas": ["cn", "us", "jp",
             "de", "fr", "tw",
             "hk", "pt", "en",
             "ar", "be", "el",
             "es", "fi", "fr",
             "hr", "hu", "is",
             "it", "iw", "ko",
             "lt", "lv", "mk",
             "nl", "no", "pl",
             "pt", "ro", "ru",
             "sh", "sk", "sl",
             "sq", "sr", "sv",
             "th", "tr", "uk",
             "gb", "ie", "ca",
             "au", "nz", "za"],
    "appids": ["503039729", "1173483089"],
    "delay": 3
}